body {
  background      : radial-gradient(rgb(233, 226, 226) 1px, transparent 1px);
  background-size : 20px 20px;
}

.country {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.country__name {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
}

.country__info {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  align-content: center;
  justify-content: center;

}

.country__info-container {
  margin: 0 auto;
  width: 250px;
  font-size: 24px;
}


.country__info-languages {
  padding-inline-start: 50px;

}

.country__info-languages-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-text-main {
  font-weight: 800;
}

.search-form {
  padding: 30px;
}

.search-form__input {
  display: block;
  margin: 0 auto;
  height: 40px;
  font-size: 35px;
  width: 950px;
  padding: 10px;
}

.country-list__item {
  padding: 10px;  
}
